@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html, body, #app {
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	height: 100%;
	font-size: 14px;
	background-color: #eaeae0;
}
.badge {
	display: inline;
}

.left-sidebar-section {
	width: 280px;
	float: left;
	z-index: 2;
	display: inline-block;
	/*background-color: #FFF;*/
	overflow: hidden;
	/*overflow-y: auto;*/
	height: 100vh;
	left: 0;
	top: 0;
	position: fixed;
	transition: width 0.5s ease 0s;
}

.left-sidebar-section:hover {
	overflow-y: auto;
}

li.menu-divider {
	padding: 15px;
	padding-top: 10px;
	padding-bottom: 0px;
	font-weight: bold;
}

.toggle-sidebar {
	width: 280px !important;
}

.sidebar-container {
	margin-top: 85px;
	padding-right: 15px;
	width: 280px;
}

.sidebar-container ul {
	list-style-type: none;
	padding:0px;
}

.sidebar-container li {
	
}

.sidebar-container li a {
	padding: 10px;
	padding-left: 15px;
	margin-left: 10px;
	display: block;
	text-decoration: none;
	color: #f6922d;
	font-size: 14px;
	letter-spacing: 1px;
}

/*.sidebar-container li a i.fa {
	color: #333;
}*/

.sidebar-container li a:hover {
	font-weight: bold;
	color: #130912 !important;
}
.sidebar-active {
	font-weight: bold;
	background-color: #999;
	border-radius: 5px;
	color: #FFF !important;
}

img.left-profile-picture {
	width: 150px;
	height: 150px;
	object-fit: cover;
	/*border-radius: 50%;
	overflow: hidden;*/
}

small.left-school-name {
	color: blue;
}

.z-techno-btn {
	color: #FFF;
	border:none;
}

.z-techno-primary {
	background-color: #130912 !important;
}

.z-techno-primary:hover {
	color:#f6922d;
}

.z-techno-secondary {
	background-color: #f6922d !important;
}

.z-techno-secondary:hover {
	color: #130912 !important;
}

.z-techno-el, .z-techno-btn {
	border-radius: 0;
}

.z-techno-form .form-group label {
	font-size: 13px;
	font-weight: bold;
}

.z-techno-content {
	font-size: 13px !important;
}

.z-login-form .form-control, .z-techno-login-btn {
	border-radius: 20px;
	padding: 15px;
	display: inline-block;
	font-size: 18px;
}

.z-techno-login-btn {
	padding: 5px;
}

.z-techno-navbar {
	background-color: #130912 !important;
	/*background-color: #2980b9 !important;*/
	z-index: 3;
	width: 100%;
	position: fixed;
}

.z-techno-navbar button.navbar-toggler {
	border:0px;
}

.z-techno-navbar i.fa.fa-bars {
	color: #FFF;
}

.z-techno-navbar a.navbar-brand, .z-techno-navbar .navbar-nav a.nav-link {
    color: #FFF !important;
}

.form-posts textarea,.form-posts select {
	border:none;
}

.form-posts select {
	border-top:1px solid #eaeaea;
}

.form-posts .posts-group {
	border:1px solid #eaeaea;
}

.z-techno-btn-group {
	margin-left: 8px;
	margin-top: -38px;
	margin-bottom: 8px;
	position: relative;
}

.z-techno-btn-float {
	border:1px solid #130912;
	color: #130912;
}

.author-section {
	overflow: auto;
	padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
}

.author-picture {
	float: left;
	margin-right: 15px;
}

.author-picture img {
	width: 50px;
	height: 50px;
	object-fit: cover;
}

.author-name h4 {
	font-size: 14px;
	font-weight: bold;
}

.post-section {
	padding-top: 20px;
	padding-bottom: 20px;
}

main {
	/*display: inline-block;*/
	/*width: 100%;*/
	margin:10px;
	
}

.content-container {
	padding-top: 5px;
	margin-left: 280px;
	transition: margin-left 0.5s ease 0s;
}

.content-wrapper {
	padding: 20px;
	background: #FFF;
}

.h_iframe iframe {
    width:100%;
    height:100%;
}

.h_iframe {
    height: 100%;
    width:100%;
}

.post-comment {
	padding: 15px;
    background-color: #efefef;
    margin-top: 15px;
    display: block;
    overflow: auto;
    max-height: 500px;
}

.post-comment-items {
	margin-bottom: 10px;
	border-bottom: 1px solid #fff;
}

.comment-content p, .post-section p {
	word-break: break-word;
}

.school-suggestion {
	border:1px solid #eaeaea;
}

.school-item {
	padding: 15px;
}

.school-item:hover {
	background-color: #eaeaea;
	cursor: pointer;
}

.person-response {
	padding-top: 10px;
	position: absolute;
	width: 100%;
	margin-top: 25px;
}

.person-response-to {
	overflow: auto;
}

.person-response-item {
	overflow: auto;
	background-color: #FFF;
	padding: 10px;
	height: auto;
	display: block;
	cursor: pointer;
}
.chat-items {
	padding: 10px;
	padding-bottom: 0px;
	cursor: pointer;
}
.person-response-item:hover, .chat-items:hover, .chat-active {
	background-color: #eaeaea;
}

.comment-content {
	margin-left: 65px;
}

.chat-list p {
	font-size: 12px;
	word-break: break-word;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media only screen and (max-width: 991px) {
	.chat-sidebar {
		display: none;
	}
}
@media only screen and (max-width: 786px) {
	.left-sidebar-section {
		width: 0px;
		background-color: #eaeae0;
	}

	.content-container {
		margin-left: 0px;
	}
}
